{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to My Site</h1>
<p>This is the home page. We have lots of interesting content here.</p>
<body>
        {% if username %}
            <p>Hello {{ username }}</p>
        {% else %}
            <p>Hello guest</p>
        {% endif %}
        <h1>welcome to my django page</h1>

        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <ul>
            {% for number in numbers %}
                {% if number|divisibleby:2 %}
                    <li>{{ number }} - Even</li>
                {% else %}
                    <li>{{ number }} - Odd</li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
{% endblock %}